# Node modules (installed via npm)
node_modules/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Directory for TypeScript output
dist/

# Directory for IDE files
.vscode/

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables file
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor configuration files
*.editorconfig
.editorconfig

# Cache directories
.cache/
.cache-loader/

# Temporary files
*.tmp

# Production build files
/build/
*.zip
*.tgz

# Ignore your configuration files if sensitive information is present
config.js
